@import url("text.css");

body {
	color: grey;
	font-size: 28px;
	font-family: sans-serif;
	text-align: center;
	padding: 0px 50px 50px 50px;
}



.ulist {
	text-align: left;
}

.leftbar, .rightbar {
	position: fixed;
	height: calc(100vh - 20px);
	top: 20px;
	width: 200px;
	display: flex;
	flex-direction: column;
}

.leftbar img, .rightbar img {
	height: calc(100% - 30px);
	max-height: 200px;
	max-width: 200px;
	flex-shrink: 1
}

.topbar {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 20px;
	font-size: 18px;
	background-color: grey;
	color: white;
	width: 100vw;
	z-index: 1;
}

.leftbar {
	left: 0px;
}

.rightbar {
	right: 0px;
}

.leftbar a, .rightbar a {
	display: block;
	text-decoration: none;
	flex-grow: 1;
	min-height: 5px;
	flex-basis: 5px;
	flex-shrink: 1;
}

.leftbar a, .rightbar a, .tiles a {
	transition: all 0.5s ease;
	
}

.leftbar a:hover, .rightbar a:hover, .tiles a:hover {
	transform: scale(0.9, 0.9);
}

.innerContent, .notifications {
	margin-left: 200px;
	margin-right: 200px;
	padding: 25px;
}

.notifications > a {
	display: block;
	width: 100%;
	color: white;
	background-color: #558855;
	border-left: 16px solid #2a442a;
	padding-top: 5px;
	padding-bottom: 5px;
    padding-left: 2em;
	margin-bottom: 5px;
	background-image: url("warning.svg");
	background-size: auto 1.2em;
	background-repeat: no-repeat;
	background-position: left;
}

.scaleContainer {
	height: 150px;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.scaleContainer img {
	height: 100%;
	position: absolute;
}

.tiles {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.tiles div, .tiles a {
	flex-grow: 1;
	padding: 20px;
	margin: 20px;
	background-color: #558855;
	color: white;
	text-decoration: none;
}

ul.setting {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	flex-wrap: wrap;
}

ul.setting li {
	flex-grow: 1;
	flex-shrink: 1;
	border-top: 2px solid #558855;
	border-bottom: 2px solid #558855;
	border-left: 1px solid #558855;
	border-right: 1px solid #558855;
	padding: 20px;
}

ul.setting li.active {
	background-color: #558855;
	color: white;
}

ul.setting li:first-child {
	border-left: 2px solid #558855;
}

ul.setting li:last-child {
	border-right: 2px solid #558855;
}
