@import url("text.css");

body {
	color: grey;
	font-size: 28px;
	font-family: sans-serif;
	text-align: center;
	padding: 0px 50px 50px 50px;
}

.ulist {
	text-align: left;
}

.leftbar, .rightbar {
	position: fixed;
	height: calc(100vh - 20px);
	top: 20px;
	width: 200px;
	display: flex;
	flex-direction: column;
}

.leftbar img, .rightbar img {
	height: calc(100% - 30px);
	max-height: 200px;
	max-width: 200px;
	flex-shrink: 1
}

.topbar {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 20px;
	font-size: 18px;
	background-color: grey;
	color: white;
	width: 100vw;
	z-index: 1;
}

.leftbar {
	left: 0px;
}

.rightbar {
	right: 0px;
}

.leftbar a, .rightbar a {
	display: block;
	text-decoration: none;
	flex-grow: 1;
	min-height: 5px;
	flex-basis: 5px;
	flex-shrink: 1;
}

.innerContent {
	margin-left: 200px;
	margin-right: 200px;
	padding: 25px;
}

.scaleContainer {
	height: 150px;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.scaleContainer img {
	height: 100%;
	position: absolute;
}


