/* TODO: choose font */

@font-face {
  font-family: 'opendyslexic';
	src: url('https://dyslexicfonts.com/fonts/OpenDyslexic-Regular.otf');
	font-style: normal;
	font-weight: normal;
}

p.alert-text {
  color: red;
}

small-title {
  font-size: 2em;
  margin-bottom: 0.3em;
}

p {
  /*font-family: 'opendyslexic';*/
	margin: 0px;
}

p.big {
	font-size: 2.5em;
  color: #558855;
}

.green {
  color: #558855;
}

.dyslexicFont {
  font-family: 'opendyslexic';
}

a.tile-link {
  text-decoration: none;
}
